## 0 preprocess

In [61]:
import pandas as pd
df = pd.read_csv("train.csv",header=None)

True 36516

In [62]:
df = pd.DataFrame(
    {
        0:[1,2,3,2,989],
        1:[2,3,4,5,90]
    }
)
df

     0   1
0    1   2
1    2   3
2    3   4
3    2   5
4  989  90

In [65]:
grouped = df.groupby(1)
for i in grouped.groups.keys():
    print(i,list(grouped.get_group(i)[0]))

2 [1]
3 [2]
4 [3]
5 [2]
90 [989]

## 1 build db

In [67]:
import glob
import os
filenamelist = glob.glob("attribute/*")
print(len(filenamelist),filenamelist[0])

10755 attribute\1.txt

In [77]:
with open(filenamelist[1],"r",encoding="utf-8") as f:
    orignal=f.read()
# ",".join([i for i in orignal.split("\n") if i!=''])
orignal.strip()

'研究兴趣\n电气工程\n自动化'

In [86]:
import json
with open("scripts/nodeTolinkednodes_train.json","r") as f:
    data = json.load(f)
type(list(data.keys())[0])

str

In [94]:
basename = [os.path.basename(filename).split(".")[0] for filename in filenamelist]
basename[0]

'1'

In [95]:
"2" in basename

True